@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="responsive-buttons1">
    <div class="d-flex">
        <div class="">
            <div class="btn-group" role="group" aria-label="GroupFunctions">
                <a type="button" onclick="showSelectedRows()" class=" btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <span>
                        Vymazat vybrané
                    </span>
                </a>
                <button type="button" onclick="postIdFirm(0)" class="btn btn-outline-dark exportFunc">Exportovat vybrané</button>
            </div>

            <a type="button" href="/ModifyFirms?FirmId=0" class="btn btn-outline-dark">Přidat firmy</a>
            <a type="button" href="/ModifyColumn" class="btn btn-outline-dark">Upravit sloupce</a>
        </div>
        <form method="get" class="ms-auto own-w-search">
            <input name="searchQuery" class="own-p-search form-control" type="text" placeholder="Search" aria-label="Search" onkeyup="searchFunction()" value="@Model.searchQuery">
        </form>
    </div>
</div>

<div class="responsive-buttons2">
    <div class="d-flex">
        <from method="get" class="w-100 me-2">
            <input name="searchQuery" class="own-p-search-m form-control" type="search" placeholder="Search" aria-label="Search" onkeyup="searchFunction()" value="@Model.searchQuery">
        </from>
        <div class="btn-group flex-shrink-1 arrow-off">

            <button type="button" class="btn btn-dark dropdown-toggle"
                    id="timezoneDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end p-dropdown-item" aria-labelledby="timezoneDropdown">
                <li><h5 class="dropdown-header">Řádky</h5></li>
                <li class="alert-danger" onclick="showSelectedRows()" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><button class="dropdown-item" type="button">Vymazat vybrané</button></li>
                <li><button class="dropdown-item exportFunc" onclick="postIdFirm(0)" type="button">Exportovat vybrané</button></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/ModifyFirms?FirmId=0" type="button">Přidat firmy</a></li>
                <li><a class="dropdown-item" href="/ModifyColumn" type="button">Úprava sloupců</a></li>
            </ul>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Smazat vybrané</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Opravdu chcete smazat následující firmy?</p>
                <p id="selectedRows"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zrušit</button>
                <button type="button" class="btn btn-danger deleteFunc" onclick="postIdFirm(1)" data-bs-dismiss="modal">Smazat</button>
            </div>
        </div>
    </div>
</div>

<br>

<div class="text-left table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <input class="form-check-input" onClick="toggle(this)" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1"></label>
                </th>
                <th>Název</th>
                <th>Kontakt</th>
                <th>Obor</th>
                <th>Events</th>
                <th>Zdroj</th>
                <th>Pozn.</th>
            </tr>
        </thead>
        <tbody id="searchTB">
            @foreach (var f in Model.firmy)
            {
                <tr>
                    <!-- CHECKBOX -->
                    <td>
                        <div class="mt-2">
                            <input class="form-check-input" name="foo" type="checkbox" id="inlineCheckbox_@(Model.getIncrementFirma())" value="option1">
                        </div>
                    </td>
                    <!-- NAME -->
                    <td><div class="mt-2"><a class="font-weight-bold firm-name" id="@f.Id" href="/ModifyFirms?FirmId=@f.Id">@f.Name</a></div></td>
                    <!-- CONTACT -->
                    <td>
                        <div>
                            @if (f.Contact != null)
                                foreach (var kontakt in f.Contact)
                                {
                                    <div class="accordion mt-1 mb-1" id="accord_contact_@kontakt.Id">
                                        <div class="accordion-item rounded-4 shadow-sm">

                                            <button class="own-p-tag px-3 accordion-button rounded-3 btn bg-transparent shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#accord_contactItem_@kontakt.Id" aria-expanded="false" aria-controls="collapseOne">
                                                @kontakt.Name
                                            </button>

                                            <div id="accord_contactItem_@kontakt.Id" class="accordion-collapse rounded-4 collapse" aria-labelledby="headingOne" data-bs-parent="#accord_contact_@kontakt.Id">
                                                <div class="accordion-body">
                                                    <!-- Contact - Content -->
                                                    @if (!string.IsNullOrEmpty(kontakt.Email))
                                                    {
                                                        <p>@kontakt.Email</p>
                                                    }

                                                    @if (!string.IsNullOrEmpty(kontakt.Phone))
                                                    {
                                                        <p>@kontakt.Phone</p>
                                                    }
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                }
                        </div>
                    </td>
                    <td><div class="mt-2">@f.Obor.Name</div></td>

                    <!-- EVENTS -->
                    <td>
                        <div>
                            @if (f.Events != null)
                                foreach (var firmaEvent in f.Events)
                                {
                                    <div class="mt-1 mb-1">
                                        <div class="accordion-item rounded-4 shadow-sm">
                                            <button class="own-p-tag px-3 rounded-3 btn bg-transparent shadow-none" type="button" aria-expanded="false">
                                                @firmaEvent.Name
                                            </button>
                                        </div>
                                    </div>

                                }
                        </div>
                    </td>

                    <td><div class="mt-2">@f.Source.Name</div></td>
                    <td><div class="mt-2">@f.Note</div></td>
                </tr>
            }
        </tbody>
    </table>

</div>
