@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="responsive-buttons1">
    <div class="d-flex">
        <div class="">
            <div class="btn-group" role="group" aria-label="GroupFunctions">
                <button type="button" class="btn btn-outline-danger">Vymazat vybrané</button>
                <button type="button" class="btn btn-outline-dark">Exportovat vybrané</button>
            </div>

            <a type="button" href="/ModifyFirms?FirmId=0" class="btn btn-outline-dark">Přidat firmy</a>
            <a type="button" href="/ModifyColumn" class="btn btn-outline-dark">Upravit sloupce</a>
            <a type="button" href="" class="btn btn-outline-dark">Události</a>
        </div>
        <form class="ms-auto own-w-search">
            <input class="own-p-search form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
</div>

<div class="responsive-buttons2">
    <div class="d-flex">
        <from class="w-100 me-2">
            <input class="own-p-search-m form-control" type="search" placeholder="Search" aria-label="Search">
        </from>
        <div class="btn-group flex-shrink-1 arrow-off">

            <button type="button" class="btn btn-dark dropdown-toggle"
                    id="timezoneDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end p-dropdown-item" aria-labelledby="timezoneDropdown">
                <li><h5 class="dropdown-header">Řádky</h5></li>
                <li class="alert-danger"><button class="dropdown-item" type="button">Vymazat vybrané</button></li>
                <li><button class="dropdown-item" type="button">Exportovat vybrané</button></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/ModifyFirms?FirmId=0" type="button">Přidat firmy</a></li>
                <li><button class="dropdown-item" type="button">Úprava sloupců</button></li>
            </ul>
        </div>
    </div>
</div>


<br>

<div class="text-left table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1"></label>
                </th>
                <th>Název</th>
                <th>Kontakt</th>
                <th>Obor</th>
                <th>Events</th>
                <th>Zdroj</th>
                <th>Pozn.</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var f in Model.firmy)
            {
                <tr>
                    <td>
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox_@(Model.getIncrementFirma())" value="option1">
                    </td>
                    <!-- NAME -->
                    <td><a class="font-weight-bold" href="/ModifyFirms?FirmId=@f.Id">@f.Name</a></td>
                    <!-- CONTACT -->
                    <td>
                        <div>
                            @if (f.Contact != null)
                                foreach (var kontakt in f.Contact)
                                {
                                    <div class="accordion mt-1" id="accord_contact_@kontakt.Id">
                                        <div class="accordion-item rounded-4 shadow-sm">

                                            <button class="own-p-tag px-3  accordion-button rounded-3 btn bg-transparent shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#accord_contactItem_@kontakt.Id" aria-expanded="false" aria-controls="collapseOne">
                                                @kontakt.Name
                                            </button>

                                            <div id="accord_contactItem_@kontakt.Id" class="accordion-collapse rounded-4 collapse" aria-labelledby="headingOne" data-bs-parent="#accord_contact_@kontakt.Id">
                                                <div class="accordion-body">
                                                    Hello
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                }
                        </div>
                    </td>
                    <td>@f.Obor.Name</td>

                    <!-- EVENTS -->
                    <td>
                        <div>
                            <div class="flex-row">
                                @if (f.Events != null)
                                    foreach (var firmaEvent in f.Events)
                                    {
                                        <div class="accordion-item rounded-4 shadow-sm">
                                            <button class="own-p-tag px-3 rounded-3 btn bg-transparent shadow-none" type="button" aria-expanded="false">
                                                @firmaEvent.Name
                                            </button>
                                        </div>
                                    }
                            </div>
                        </div>
                    </td>

                    <td>@f.Source.Name</td>
                    <td>@f.Note</td>
                </tr>
            }
        </tbody>
    </table>

</div>
