@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="responsive-buttons">
    <div class="d-flex">
        <div class="">
            <div class="btn-group" role="group" aria-label="GroupFunctions">
                <button type="button" class="btn btn-outline-danger">Vymazat vybrané</button>
                <button type="button" class="btn btn-outline-dark">Exportovat vybrané</button>
            </div>

            <button type="button" class="btn btn-outline-dark">Přidat firmy</button>
            <button type="button" class="btn btn-outline-dark">Úprava sloupců</button>
        </div>
        <form class="ms-auto">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
</div>

<div class="responsive-buttons">
    <div class="d-flex justify-content-center">
        <div class="btn-group">
            <button type="button" class="btn btn-dark dropdown-toggle" id="timezoneDropdown" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Cudlik
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="timezoneDropdown">
                <li><button class="dropdown-item" type="button">Vymazat vybrané</button></li>
                <li><button class="dropdown-item" type="button">Exportovat vybrané</button></li>
                <li><button class="dropdown-item" type="button">Přidat firmy</button></li>
                <li><button class="dropdown-item" type="button">Úprava sloupců</button></li>
                <li><input class="form-control" type="search" placeholder="Search" aria-label="Search"></li>
            </ul>
        </div>
    </div>
</div>


<br>

<div class="text-left">
    <table class="table">
        <tr>
            <th>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">1</label>
            </th>
            <th>Název</th>
            <th>Kontakt</th>
            <th>Obor</th>
            <th>Zdroj</th>
            <th>Pozn.</th>
        </tr>
        @foreach (var f in Model.firmy)
        {
            <tr>
                <td>
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">1</label>
                </td>
                <td><p class="font-weight-bold">@f.Name</p></td>
                <td>
                    <div>
                        @if (f.Contact != null)
                            foreach (var kontakt in f.Contact)
                            {
                                <div class="accordion mt-1" id="accord_contact_@kontakt.Id">
                                    <div class="accordion-item rounded-4 shadow-sm">

                                        <button class="p-2 px-3  accordion-button rounded-3 btn bg-transparent shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#accord_contactItem_@kontakt.Id" aria-expanded="false" aria-controls="collapseOne">
                                            @kontakt.Name
                                        </button>

                                        <div id="accord_contactItem_@kontakt.Id" class="accordion-collapse rounded-4 collapse" aria-labelledby="headingOne" data-bs-parent="#accord_contact_@kontakt.Id">
                                            <div class="accordion-body">
                                                Hello
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                    </div>
                </td>
                <td>@f.Obor.Name</td>
                <td>@f.Source.Name</td>
                <td>@f.Note</td>
            </tr>
        }
    </table>

</div>
